.container{
	width: 80%;
	margin: 0px auto;
	padding: 20px;
}
.limegreen{
	width: 100%;
	height: 150px;
	background-color: limegreen;
	margin-bottom: 20px;
}
.pink{
	width: 100%;
	height: 250px;
	background-color: lightpink;
	margin-bottom: 20px;	
}
.yellow{
	width: 250px;
	height: 250px;
	background-color: yellow;
	float: left;
}
.blue{
	width: 250px;
	height: 250px;
	background-color: blue;
	float: left;
	margin-left: 230px;
}
.green{
	width: 250px;
	height: 250px;
	background-color: green;
	float: right;
	margin-bottom: 20px;
}
.lightgreen{
	clear: both;
	width: 100%;
	height: 120px;
	background-color: lightgreen;
}