.container{
		width: 90%;
		margin: 0px auto;
		padding: 5px;
	}
	.header{
		width: 100%;
		height: 150px;
		background-color:indianred;
	}
	.main-content{
		width: 60%;
		height: 450px;
		background-color: limegreen;
		float: left;
	}
	.sidebar{
		width: 40%;
		height: 450px;
		background-color: orange;
		float: right;
	}
	.yellow{
		clear: both;
		width: 100%;
		height: 355px;
		background-color: yellow;
	}
	.yellow .box-1{
		width: 400px;
        height: 220px;
        background-color: skyblue;
        float: left;
        margin-left: 30px;
        margin-top: 30px

	}
	.yellow .box-2{
		width: 400px;
        height: 220px;
        background-color: skyblue;
        float: left;
        margin-left: 50px;
        margin-top: 30px;


	}
	.yellow .box-3{
		width: 400px;
        height: 220px;
        background-color: skyblue;
        float: right;
        margin-right: 30px;
        margin-top: 30px;
        margin-bottom: 15px;
	}
	.yellow .box-4{
		clear: both;
		width: 95%;
		height: 70px;
		background-color: lightgoldenrodyellow;
		margin-left: 30px;	
	}
	.footer{
		width: 100%;
		height: 140px;
		background-color: black;
	}